<div class="container pt-4">
  <div class="flex">
    <div class="row text-center">
      <div class="col">
        <a routerLink="/ranking" class="w-100 btn btn-outline-primary border-0">
          <ion-icon name="list" style="font-size: 80px"></ion-icon>
          <div><span>Ranking</span></div>
        </a>
      </div>
      <div class="col">
        <a routerLink="/game" class="w-100 btn btn-outline-success border-0">
          <ion-icon name="locate" style="font-size: 80px"></ion-icon>
          <div><span>Game</span></div>
        </a>
      </div>
    </div>
  </div>
</div>
