<div class="game-container">
  <div class="game-row">
    <div class="game-col">
      <div class="game-card">
        <div class="game-card-body">
          <h4 class="game-card-body-tittle">Battleground</h4>
          <div class="game-unities">
            <div class="game-player">
              <div>
                <span>Player</span>
              </div>
              <div class="game-healthbar">
                <div
                  class="game-healthbar-progress"
                  [class]="player.lifeColor"
                  [style.width.%]="player.hp"
                ></div>
                <span>{{ player.hp }}&nbsp;%</span>
              </div>
            </div>
            <div class="game-versus"><ion-icon name="close"></ion-icon></div>
            <div class="game-monster">
              <div>
                <span>Monster</span>
              </div>
              <div class="game-healthbar">
                <div
                  class="game-healthbar-progress"
                  [class]="monster.lifeColor"
                  [style.width.%]="monster.hp"
                ></div>
                <span>{{ monster.hp }}&nbsp;%</span>
              </div>
            </div>
          </div>
          <div class="game-controls">
            <h5 class="game-card-body-tittle">Game Controls</h5>
            <div class="game-controls-group" [ngSwitch]="game.state">
              <ng-template [ngSwitchCase]="gameState.PLAYING">
                <button
                  class="game-control attack-control"
                  (click)="cast(gameActions.attack)"
                >
                  Attack
                </button>
                <button
                  class="game-control heavy-attack-control"
                  (click)="cast(gameActions.heavyAttack)"
                  [disabled]="player.heavyAttackIsOnCd"
                >
                  Heavy Attack
                </button>
                <button
                  class="game-control heal-control"
                  (click)="castSelfHeal()"
                >
                  Heal
                </button>
                <button
                  class="game-control leave-combat-control"
                  (click)="cast(gameActions.leaveCombat)"
                >
                  Leave Combat
                </button>
              </ng-template>

              <ng-template [ngSwitchCase]="gameState.START">
                <button
                  class="game-control start-new-game-control"
                  (click)="startNewGame()"
                >
                  Start new game
                </button>
              </ng-template>

              <ng-template [ngSwitchCase]="gameState.OVER">
                <div class="game-result">
                  <p>Game ended on Round {{ game.currentRound }}</p>
                  <p>{{ result.name }} won the game!!</p>
                  <ng-template [ngIf]="result.type === 'player'">
                    <p>Final score is {{ result.score }}</p>
                    <p>Insert your name to save your score</p>
                    <form [formGroup]="form" (ngSubmit)="saveMatch()">
                      <div>
                        <input
                          type="text"
                          formControlName="playerName"
                          placeholder="Name"
                          maxlength="15"
                        />
                      </div>
                      <div>
                        <button
                          type="submit"
                          class="game-control save-control"
                          [disabled]="form.controls.playerName.invalid"
                        >
                          Save
                        </button>
                      </div>
                    </form>
                  </ng-template>
                  <ng-template [ngIf]="result.type === 'monster'">
                    <button
                      class="game-control start-new-game-control"
                      (click)="startNewGame()"
                    >
                      Start new game
                    </button>
                  </ng-template>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="game-col">
      <div class="game-card">
        <div class="game-card-body">
          <h4 class="game-card-body-tittle">Combat Log</h4>
          <div class="game-combat-log">
            <div class="game-log-item" [class]="i.type" *ngFor="let i of log">
              {{ i.message }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
