.game-container {
  width: 80%;
  margin: auto;
  padding-top: 2rem;
}

.game-row {
  display: flex;
  flex-wrap: wrap;

  .game-col {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
  }
}

.game-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;

  .game-card-body {
    padding: 20px;

    .game-card-body-tittle {
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    .game-unities {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .game-player,
      .game-monster {
        width: 30%;
        text-align: center;

        .game-healthbar {
          position: relative;
          width: 100%;
          background-color: #808080;

          .game-healthbar-progress {
            position: relative;
            height: 30px;
            background-color: #008000;
          }

          .unit-sucess {
            background-color: #008000;
          }

          .unit-alert {
            background-color: #ffff00;
          }

          .unit-danger {
            background-color: #dc3545 !important;
          }

          span {
            position: absolute;
            right: 0;
          }
        }
      }
    }

    .game-controls {
      .game-controls-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .game-control {
          width: 200px;
          color: white;
          padding: 10px 24px;
          margin-bottom: 5px;
          border-radius: 0.25rem;
          cursor: pointer;
        }

        .attack-control {
          background-color: #6f42c1;
        }

        .heavy-attack-control {
          background-color: #dc3545;
        }

        .heavy-attack-control[disabled] {
          background-color: #534748;
          cursor: not-allowed;
        }

        .heal-control,
        .start-new-game-control,
        .save-control {
          background-color: #198754;
        }

        .save-control[disabled] {
          background-color: #41856a;
          cursor: not-allowed;
        }

        .leave-combat-control {
          background-color: #6610f2;
        }
      }
    }

    .game-result {
      text-align: center;

      input {
        width: 200px;
        margin-bottom: 5px;
      }
    }

    .game-combat-log {
      max-height: 400px;
      overflow-y: auto;

      .game-log-item {
        background-color: #fff;
        color: #fff;
        padding: 4px 18px;
        border-radius: 0.25rem;
        margin-bottom: 5px;
      }

      .playerAttack,
      .monsterAttack {
        background-color: #6f42c1;
      }

      .attackMissed {
        background-color: #f8f9fa;
        color: #000;
      }

      .playerHeavyAttack,
      .monsterHeavyAttack {
        background-color: #dc3545;
      }

      .heal {
        background-color: #198754;
      }

      .leaveCombat {
        background-color: #6610f2;
      }
    }
  }
}