<nav
  class="navbar fixed-top navbar-expand-lg navbar-light"
  style="background-color: #e3f2fd"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbar"
      [ngbCollapse]="isCollapsed"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/ranking"
            >Ranking</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/game"
            >Game</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<main
  class="container-fluid"
  style="margin-top: 56px; max-height: calc(100% - 56px); overflow: auto"
>
  <router-outlet></router-outlet>
</main>
