<div class="container pt-4">
  <div class="card mb-4">
    <div class="card-body">
      <h4 class="card-title text-center">Ranking</h4>
      <table class="table table-sm">
        <thead>
          <tr class="table-secondary">
            <th scope="col"></th>
            <th scope="col" class="">Player</th>
            <th scope="col" class="col-2">Score</th>
            <th scope="col" class="col-2">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of players | async; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ p.playerName }}</td>
            <td>{{ p.score }}</td>
            <td>{{ p.data | date: "mediumDate" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
